In [31]:
# Run this first!

library(tidyverse)
data <- read_csv('https://github.com/5harad/API201-students/blob/main/data/SampleSize3.csv?raw=TRUE')

Rows: 60 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (3): draw1, draw2, draw3

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [32]:
# The dataset consists of every possible sample of size 3 from the example.
# Each row is a sample of three people's ages.

head(data)

  draw1 draw2 draw3
1 25    26    27
2 25    26    28
3 25    26    29
4 25    27    28
5 25    27    29
6 25    28    29

In [34]:
# Calculate the average age for each sample of size 3

data_mean <- data %>%
                mutate(mean = (draw1 + draw2 + draw3)/3)

In [35]:
# Calculate the frequency of each mean that you calculated using the count function:

summary <- data_mean %>% count(mean)

# Note: you can also use the group_by and summarize commands to do this:

data_mean %>% 
  group_by(mean) %>%
  summarize(count = n())

  mean     count
1 26.00000  6
2 26.33333  6
3 26.66667 12
4 27.00000 12
5 27.33333 12
6 27.66667  6
7 28.00000  6

In [36]:
# Calculate how frequently each mean comes up

summary %>% mutate(frequency = n/sum(n))

# The likelihood of a sample mean of 28 or greater is 10%.

  mean     n  frequency
1 26.00000  6 0.1
2 26.33333  6 0.1
3 26.66667 12 0.2
4 27.00000 12 0.2
5 27.33333 12 0.2
6 27.66667  6 0.1
7 28.00000  6 0.1