<a href="https://colab.research.google.com/github/5harad/API201-students/blob/main/lectures/lecture-10-code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 10: R review

In [1]:
library(tidyverse)

# set a simple black & white theme for our plots
theme_set(theme_bw())

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Part 1: Fundamentals

---

In [2]:
age <- 25
age

[1] 25

In [3]:
dogs <- c('wolfie', 'bella')
dogs

[1] "wolfie" "bella"

In [4]:
cats <- c('blue', 'elmo')
cats

[1] "blue" "elmo"

In [5]:
pets <- c(dogs, cats)
pets

[1] "wolfie" "bella"  "blue"   "elmo"

In [6]:
(2+3)*5/4

[1] 6.25

In [7]:
my_var <- c(TRUE, FALSE)
my_var

[1]  TRUE FALSE

In [8]:
2 == 3

[1] FALSE

In [9]:
3 >= 1

[1] TRUE

In [10]:
seq(5,10)

[1]  5  6  7  8  9 10

In [11]:
5:10

[1]  5  6  7  8  9 10

In [12]:
long_list <- seq(1,100)
head(long_list)

[1] 1 2 3 4 5 6

In [13]:
length(long_list)

[1] 100

In [14]:
my_vec <- seq(5,10)
my_vec

[1]  5  6  7  8  9 10

In [15]:
sum(my_vec)

[1] 45

In [16]:
mean(my_vec)

[1] 7.5

In [17]:
b_vec <- c(TRUE, TRUE, FALSE)
sum(b_vec)

[1] 2

In [18]:
mean(b_vec)

[1] 0.6666667

In [19]:
ages <- c(28, 45, 15, 8, 83, 3, 42, 35, 12, 50)

In [20]:
ages >= 25

 [1]  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE

In [21]:
mean(ages >= 25)

[1] 0.6

## Part 2: Data frames

In [22]:
pets <- tibble(
  name = c('wolfie','bella','blue','elmo'),
  is_dog = c(TRUE, TRUE, FALSE, FALSE),
  age = c(2, 3, 1.5, 4)
)
pets

  name   is_dog age
1 wolfie  TRUE  2.0
2 bella   TRUE  3.0
3 blue   FALSE  1.5
4 elmo   FALSE  4.0

In [23]:
dogs <- pets %>%
  filter(is_dog == TRUE)

dogs

  name   is_dog age
1 wolfie TRUE   2
2 bella  TRUE   3

In [24]:
dogs <- pets %>%
  filter(is_dog == TRUE) %>%
  mutate(dog_years = age * 7)

dogs

  name   is_dog age dog_years
1 wolfie TRUE   2   14
2 bella  TRUE   3   21

In [25]:
avg_ages <- pets %>%
  group_by(is_dog) %>%
  summarize(avg_age = mean(age))

avg_ages

  is_dog avg_age
1 FALSE  2.75
2  TRUE  2.50

## Part 3: Simulation

In [26]:
set.seed(1)

In [27]:
num_tornadoes <- c(0, 1, 2, 3, 4, 5)
p <- c(.1, .15, .4, .2, .1, .05)

sample(num_tornadoes, 10, prob=p, replace=TRUE)

 [1] 2 2 3 4 2 4 4 1 1 2

In [28]:
p <- .25

rbernoulli(10, p)

 [1] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE

In [29]:
p <- c(.2, .2, .9, .9, .9, .2, .2, .2, .2, .2)

rbernoulli(10, p)

 [1]  TRUE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE

In [30]:
rnorm(5, 25, 10)

[1] 24.55066 24.83810 34.43836 33.21221 30.93901

In [31]:
sample(c(1,2,7), 5, p=c(1/3, 1/3, 1/3), replace=TRUE)

[1] 1 7 1 7 7

In [32]:
rnorm(10, 0, 3) > 0

 [1]  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE

In [33]:
rbernoulli(10, 0.5)

 [1] FALSE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE

In [34]:
p_sick = 0.5
p_pos_if_sick <- 0.8
p_pos_if_healthy <- 0.1

cases <- tibble(
  is_sick = rbernoulli(10, p_sick)
)
cases

   is_sick
1   TRUE
2   TRUE
3  FALSE
4   TRUE
5   TRUE
6  FALSE
7   TRUE
8  FALSE
9  FALSE
10  TRUE

In [35]:
cases %>% 
  mutate(
    p_pos = if_else(is_sick, p_pos_if_sick, p_pos_if_healthy),
    pos = rbernoulli(10, p_pos)
  )

   is_sick p_pos pos
1   TRUE   0.8    TRUE
2   TRUE   0.8    TRUE
3  FALSE   0.1   FALSE
4   TRUE   0.8    TRUE
5   TRUE   0.8   FALSE
6  FALSE   0.1   FALSE
7   TRUE   0.8   FALSE
8  FALSE   0.1   FALSE
9  FALSE   0.1   FALSE
10  TRUE   0.8    TRUE

In [36]:
cases %>%
  mutate(
    pos_if_sick = rbernoulli(10, p_pos_if_sick),
    pos_if_healthy = rbernoulli(10, p_pos_if_healthy),
    pos = if_else(is_sick, pos_if_sick, pos_if_healthy)
  )

   is_sick pos_if_sick pos_if_healthy pos
1   TRUE   TRUE        FALSE           TRUE
2   TRUE   TRUE        FALSE           TRUE
3  FALSE   TRUE        FALSE          FALSE
4   TRUE   TRUE         TRUE           TRUE
5   TRUE   TRUE        FALSE           TRUE
6  FALSE   TRUE         TRUE           TRUE
7   TRUE   TRUE        FALSE           TRUE
8  FALSE   TRUE        FALSE          FALSE
9  FALSE   TRUE        FALSE          FALSE
10  TRUE   TRUE        FALSE           TRUE

In [37]:
sum(rbernoulli(50, 0.9))

[1] 46

In [38]:
sum(rbernoulli(50, 0.9))

[1] 49

In [39]:
many_worlds <- replicate(1e5, sum(rbernoulli(50, 0.9)))
head(many_worlds)

[1] 49 42 46 48 42 46

In [40]:
mean(many_worlds)

[1] 44.98734