# API-201 ABC REVIEW SESSION #10

**Friday, December 9**

# Exercise 1 - Placeholder

**1. Calculate the expected number of tornadoes in a year.**

In [51]:
# Load packages
library(tidyverse)
library(haven)

# Download data
tempfile_path <- tempfile()
download.file("http://davidcard.berkeley.edu/data_sets/njmin.zip", destfile = tempfile_path)
tempdir_path <- tempdir()
unzip(tempfile_path, exdir = tempdir_path)
codebook <- read_lines(file = paste0(tempdir_path, "/codebook"))

variable_names <- codebook %>%
  `[`(8:59) %>%
  `[`(-c(5, 6, 13, 14, 32, 33)) %>%
  str_sub(1, 13) %>%
  str_squish() %>%
  str_to_lower()

dataset <- read_table(paste0(tempdir_path, "/public.dat"),
                       col_names = FALSE)

dataset <- dataset %>%
  select(-X47) %>%
  `colnames<-`(., variable_names) %>%
  mutate_all(as.numeric) %>%
  mutate(sheet = as.character(sheet))


write_dta(dataset, "fastfood.dta")

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  .default = col_character(),
  X1 = col_double(),
  X2 = col_double(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_double(),
  X6 = col_double(),
  X7 = col_double(),
  X8 = col_double(),
  X9 = col_double(),
  X10 = col_double(),
  X11 = col_double(),
  X18 = col_double(),
  X20 = col_double(),
  X21 = col_double(),
  X22 = col_double(),
  X28 = col_double(),
  X29 = col_double(),
  X30 = col_double(),
  X47 = col_logical()
)
ℹ Use `spec()` for the full column specifications.

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

In [54]:


fastfood <- read_dta("fastfood.dta")

fastfood %>% 
    mutate(fte=empft+nmgrs+(0.5*emppt),fte_after=empft2+nmgrs2+(0.5*emppt2)) %>%
    select(chain, 
           state,
           fte)

    chain state fte
1   1     0     40.50
2   2     0     13.75
3   2     0      8.50
4   4     0     34.00
5   4     0     24.00
6   4     0     20.50
7   1     0     70.50
8   1     0     23.50
9   2     0     11.00
10  2     0      9.00
11  3     0     15.50
12  1     0     58.00
13  1     0     26.50
14  1     0     28.50
15  1     0     13.50
16  2     0     16.75
17  2     0      9.50
18  3     0     15.00
19  3     0     29.50
20  3     0     18.50
21  3     0     20.25
22  3     0     36.00
23  3     0     21.00
24  3     0     20.50
25  4     0     19.00
26  3     0     14.00
27  3     0     19.00
28  1     0     32.50
29  1     0     19.00
30  1     0     27.00
⋮   ⋮     ⋮     ⋮
381 1     1     10.00
382 1     1        NA
383 1     1     26.00
384 1     1     12.50
385 2     1     19.50
386 2     1     12.00
387 3     1     36.00
388 3     1     21.00
389 3     1     24.50
390 3     1     20.00
391 3     1     26.50
392 3     1     15.00
393 3     1     19.00
394 3     1     17.50
395 1     1     20.50
396 1     1     21.00
397 2     1     10.50
398 1     1     23.00
399 1     1     23.00
400 1     1     29.00
401 1     1     21.00
402 1     1     41.50
403 2     1     12.00
404 2     1     33.00
405 2     1      6.50
406 2     1      9.00
407 2     1      9.75
408 3     1     24.50
409 4     1     14.00
410 4     1     19.50

In [15]:
head(ck)

  mset grp    fte   fte2  CHAIN HRSOPEN SHEET
1 1    PA     34.00 20.00 4     12.0     56
2 1    NJlow  32.25 25.00 4     11.5     35
3 1    NJhigh 17.00 16.00 4     11.5    291
4 2    PA     28.50 26.00 1     18.0    470
5 2    NJlow  18.25 21.75 1     17.5    204
6 2    NJhigh 20.50 39.00 1     17.0     71

In [18]:
ck %>%
    mutate(fte_change = fte2 - fte) %>%
    group_by(grp) %>%
    summarize(mean(fte_change))

  grp    mean(fte_change)
1 NJhigh  1.003030
2 NJlow   1.113636
3 PA     -1.878788